<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aaa.mapper.CreationAssetsImageMapper">
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, user_id, creation_id, assets_image_id, type, url, create_time, update_time
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="aaa.entity.CreationAssetsImage">
            <id column="id" property="id"/>
            <result column="user_id" property="userId"/>
            <result column="creation_id" property="creationId"/>
            <result column="assets_image_id" property="assetsImageId"/>
            <result column="type" property="type"/>
            <result column="url" property="url"/>
            <result column="create_time" property="createTime"/>
            <result column="update_time" property="updateTime"/>
    </resultMap>



</mapper>