<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fancy.mapper.AiVideoTitleTaskMapper">
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, merchant_id, task_id, video_to_be_made_id, make_video_id, type, video_platform, status, titles, create_time, update_time, deleted
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fancy.entity.AiVideoTitleTask">
            <id column="id" property="id"/>
            <result column="merchant_id" property="merchantId"/>
            <result column="task_id" property="taskId"/>
            <result column="video_to_be_made_id" property="videoToBeMadeId"/>
            <result column="make_video_id" property="makeVideoId"/>
            <result column="type" property="type"/>
            <result column="video_platform" property="videoPlatform"/>
            <result column="status" property="status"/>
            <result column="titles" property="titles"/>
            <result column="create_time" property="createTime"/>
            <result column="update_time" property="updateTime"/>
            <result column="deleted" property="deleted"/>
    </resultMap>



</mapper>