<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fancy.mapper.ArtisticVideoMapper">
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, user_id, group_code, task_id, message_id, channel_id, channel_type, interaction_type, template_id, template_code, video_size, audio_id, video_audio, make_url, create_time, update_time, create_timestamp, update_timestamp, deleted
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fancy.entity.ArtisticVideo">
            <id column="id" property="id"/>
            <result column="user_id" property="userId"/>
            <result column="group_code" property="groupCode"/>
            <result column="task_id" property="taskId"/>
            <result column="message_id" property="messageId"/>
            <result column="channel_id" property="channelId"/>
            <result column="channel_type" property="channelType"/>
            <result column="interaction_type" property="interactionType"/>
            <result column="template_id" property="templateId"/>
            <result column="template_code" property="templateCode"/>
            <result column="video_size" property="videoSize"/>
            <result column="audio_id" property="audioId"/>
            <result column="video_audio" property="videoAudio"/>
            <result column="make_url" property="makeUrl"/>
            <result column="create_time" property="createTime"/>
            <result column="update_time" property="updateTime"/>
            <result column="create_timestamp" property="createTimestamp"/>
            <result column="update_timestamp" property="updateTimestamp"/>
            <result column="deleted" property="deleted"/>
    </resultMap>



</mapper>