<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fancy.mapper.CmsVideoJdMainMapper">
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, parent_id, merchant_id, template_id, article_id, title, pic, python_task_id, video_to_be_made_id, audio_id, item_id, video_task_id, fancy_item_id, fancy_sku_id, video_src, video_size, video_duration, publish_status, publish_time, fail_reason, other_sku_ids, video_id, agent_video_id, need_review, review_status, create_time, update_time, deleted
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fancy.entity.CmsVideoJdMain">
            <id column="id" property="id"/>
            <result column="parent_id" property="parentId"/>
            <result column="merchant_id" property="merchantId"/>
            <result column="template_id" property="templateId"/>
            <result column="article_id" property="articleId"/>
            <result column="title" property="title"/>
            <result column="pic" property="pic"/>
            <result column="python_task_id" property="pythonTaskId"/>
            <result column="video_to_be_made_id" property="videoToBeMadeId"/>
            <result column="audio_id" property="audioId"/>
            <result column="item_id" property="itemId"/>
            <result column="video_task_id" property="videoTaskId"/>
            <result column="fancy_item_id" property="fancyItemId"/>
            <result column="fancy_sku_id" property="fancySkuId"/>
            <result column="video_src" property="videoSrc"/>
            <result column="video_size" property="videoSize"/>
            <result column="video_duration" property="videoDuration"/>
            <result column="publish_status" property="publishStatus"/>
            <result column="publish_time" property="publishTime"/>
            <result column="fail_reason" property="failReason"/>
            <result column="other_sku_ids" property="otherSkuIds"/>
            <result column="video_id" property="videoId"/>
            <result column="agent_video_id" property="agentVideoId"/>
            <result column="need_review" property="needReview"/>
            <result column="review_status" property="reviewStatus"/>
            <result column="create_time" property="createTime"/>
            <result column="update_time" property="updateTime"/>
            <result column="deleted" property="deleted"/>
    </resultMap>



</mapper>