<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fancy.mapper.CmsVideoJdMapper">
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, merchant_id, template_id, video_to_be_made_id, item_id, video_task_id, fancy_item_id, fancy_sku_id, video_src, video_size, video_duration, video_id, agent_video_id, create_time, update_time, deleted
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fancy.entity.CmsVideoJd">
            <id column="id" property="id"/>
            <result column="merchant_id" property="merchantId"/>
            <result column="template_id" property="templateId"/>
            <result column="video_to_be_made_id" property="videoToBeMadeId"/>
            <result column="item_id" property="itemId"/>
            <result column="video_task_id" property="videoTaskId"/>
            <result column="fancy_item_id" property="fancyItemId"/>
            <result column="fancy_sku_id" property="fancySkuId"/>
            <result column="video_src" property="videoSrc"/>
            <result column="video_size" property="videoSize"/>
            <result column="video_duration" property="videoDuration"/>
            <result column="video_id" property="videoId"/>
            <result column="agent_video_id" property="agentVideoId"/>
            <result column="create_time" property="createTime"/>
            <result column="update_time" property="updateTime"/>
            <result column="deleted" property="deleted"/>
    </resultMap>



</mapper>