<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fancy.mapper.FancyGenerateTaskMapper">
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, user_id, open_id, source_type, group_code, task_id, message_id, channel_id, channel_type, interaction_type, status, reason, create_time, update_time, deleted
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fancy.entity.FancyGenerateTask">
            <id column="id" property="id"/>
            <result column="user_id" property="userId"/>
            <result column="open_id" property="openId"/>
            <result column="source_type" property="sourceType"/>
            <result column="group_code" property="groupCode"/>
            <result column="task_id" property="taskId"/>
            <result column="message_id" property="messageId"/>
            <result column="channel_id" property="channelId"/>
            <result column="channel_type" property="channelType"/>
            <result column="interaction_type" property="interactionType"/>
            <result column="status" property="status"/>
            <result column="reason" property="reason"/>
            <result column="create_time" property="createTime"/>
            <result column="update_time" property="updateTime"/>
            <result column="deleted" property="deleted"/>
    </resultMap>



</mapper>