<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fancy.mapper.PlanOrderMapper">
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, order_no, type, user_id, user_ip, status, cancel_type, pay_status, pay_time, finish_time, cancel_time, discount_price, pay_price, pay_order_id, pay_channel_code, refund_price, create_user_id, create_time, update_user_id, update_time, deleted, create_timestamp, update_timestamp
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fancy.entity.PlanOrder">
            <id column="id" property="id"/>
            <result column="order_no" property="orderNo"/>
            <result column="type" property="type"/>
            <result column="user_id" property="userId"/>
            <result column="user_ip" property="userIp"/>
            <result column="status" property="status"/>
            <result column="cancel_type" property="cancelType"/>
            <result column="pay_status" property="payStatus"/>
            <result column="pay_time" property="payTime"/>
            <result column="finish_time" property="finishTime"/>
            <result column="cancel_time" property="cancelTime"/>
            <result column="discount_price" property="discountPrice"/>
            <result column="pay_price" property="payPrice"/>
            <result column="pay_order_id" property="payOrderId"/>
            <result column="pay_channel_code" property="payChannelCode"/>
            <result column="refund_price" property="refundPrice"/>
            <result column="create_user_id" property="createUserId"/>
            <result column="create_time" property="createTime"/>
            <result column="update_user_id" property="updateUserId"/>
            <result column="update_time" property="updateTime"/>
            <result column="deleted" property="deleted"/>
            <result column="create_timestamp" property="createTimestamp"/>
            <result column="update_timestamp" property="updateTimestamp"/>
    </resultMap>



</mapper>