<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fancy.mapper.StripeUserMapper">
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, user_id, customer_id, customer_name, create_timestamp, update_timestamp, deleted
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fancy.entity.StripeUser">
            <id column="id" property="id"/>
            <result column="user_id" property="userId"/>
            <result column="customer_id" property="customerId"/>
            <result column="customer_name" property="customerName"/>
            <result column="create_timestamp" property="createTimestamp"/>
            <result column="update_timestamp" property="updateTimestamp"/>
            <result column="deleted" property="deleted"/>
    </resultMap>



</mapper>